h2{
    color:blueviolet;
    font-family:'Times New Roman', Times, serif;
}
h3{
    color:deeppink;
    font-family: 'Times New Roman', Times, serif;
}
h4{
    color:blue;
    font-family: 'Times New Roman', Times, serif;
}